torch==2.4.1
matplotlib
ruamel.yaml==0.17.4
moviepy==1.0.3
einops==0.3.0
protobuf==3.20.0
gymnasium
gymnasium[classic-control]
mujoco
dm_control
memory_maze
crafter
opencv-python==4.7.0.72
numpy==1.23.5
tensorboard==2.17.1
wandb
wandb[media]
ray
